html,
body {
  width: 100%;
  letter-spacing: normal;
  overflow: hidden;
  height: 100vh;
}

.left-menu {
  float: left;
  width: 400px;
  min-width: 300px;
}

.l-m-color {
  background-color: rgb(172, 201, 255) !important;
}

ul {
  list-style-type: none;
  padding: 0px !important;
  font-size: small;
}
.user-log {
  padding-left: 15px;
}

.navbar {
  background-color: black !important;
}

.navbar-text {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.absolute {
  width: 100%;
  position: absolute !important;
}

.pageLogin {
  display: flex;
  height: 100%;
}

.page {
  display: flex;
}

.centerdiv {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.produtos {
  min-width: 800px;
  height: 100vh;
  overflow: scroll;
}

.row {
  margin-left: 0 !important;
  flex-wrap: nowrap !important;
}

.produto {
  height: 200px;
  background-color: white;
}

.tituloProduto {
  margin-top: 15px !important;
  font-size: larger !important;
  color: black;
  width: 400px !important;
  height: 30px !important;
}

.descricaoProduto {
  display: flex;
  flex-direction: column;
}

.precoProduto {
  font-weight: 900;
  font-size: x-large;
  color: black;
  margin-top: 10px;
}

.ratings {
  margin-right: 10px;
}

.ratings i {
  color: #cecece;
  font-size: 32px;
}

.rating-color {
  color: #fbc634 !important;
}

.produto-imagem {
  object-fit: contain;
  height: 180px;
  width: 180px !important;
}

.bg-light {
  background-color: gainsboro !important;
}

.center {
  margin: auto;
  width: 500px;
  padding: 30px;
  background-color: ghostwhite;
}

#loginBtn {
  margin: auto;
}

.loginFooter {
  background-color: gainsboro;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  padding: 15px;
  text-align: center;
}
